**/.ipynb_checkpoints

docs/build
docs/Manifest.toml

scripts/Manifest.toml

examples/.ipynb_checkpoints
examples/*incomplete.ipynb
examples/*.jl
examples/*WIP*
examples/*gif
!examples/.meta.jl
!examples/Manifest.toml

_output
test/_output

.idea
.vscode

**/*.aux
**/*.log
**/*.synctex.*
**/*.cov
**/*.mem
**/private*

Coverage.ipynb

**/.DS_Store

examples/*Compiled

**/Manifest.toml
**/LocalPreferences.toml
!benchmarks/Manifest.toml

**/.benchmarkci
benchmark/*.json

.venv