**/.ipynb_checkpoints

docs/build
docs/Manifest.toml

scripts/Manifest.toml

_output
test/_output

.idea
.vscode

**/*.aux
**/*.log
**/*.synctex.*
**/*.cov
**/*.mem
**/private*

Coverage.ipynb

**/.DS_Store

**/Manifest.toml
**/Manifest-v*.toml
**/LocalPreferences.toml
!benchmarks/Manifest.toml

**/.benchmarkci
benchmark/*.json

.venv
