**/.ipynb_checkpoints

docs/build
docs/Manifest.toml

scripts/Manifest.toml

demo/.ipynb_checkpoints
demo/*incomplete.ipynb
demo/*.jl
demo/*WIP*

_output
test/_output

.idea
.vscode

**/*.aux
**/*.log
**/*.synctex.*
**/*.cov
**/*.mem
**/private*

Coverage.ipynb

**/.DS_Store

examples/*Compiled

**/Manifest.toml
**/LocalPreferences.toml
!benchmark/Manifest.toml

**/.benchmarkci
benchmark/*.json
