body {
  div.rx-infer-header {
    min-height: 40px;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;
  }
}

html:not(.theme--documenter-dark) body #documenter {

    margin-top: 50px; // For header
    
    .docs-heading-anchor {
      color: black; // Color of headings
    }

    .docs-sidebar.visible {
      margin-top: 0px !important;
    }

    .docs-sidebar {
      margin-top: 50px; // For header
      box-shadow: none;
      color: #ffffff;
      background-color: white;
  
      .docs-package-name {
        a,
        a:hover {
          color: black; // Color of the package name link
        }
      }

      ul.docs-menu {

        %nav-hover {
          background-color: whitesmoke; // Color of the hover effect
        }

        .tocitem {
          background-color: white;
  
          &:hover {
            @extend %nav-hover;
          }
        }

        li.is-active {
  
          .tocitem {
            @extend %nav-hover;
  
            &:hover {
              @extend %nav-hover;
            }
          }
  
          ul.internal {
  
            .tocitem {
              background-color: white;
  
              &:hover {
                @extend %nav-hover;
              }
            }
          }
        }

      }
  
      
    }
}