
@media all and (max-width: 560px) {
    header.navigation {
        position: fixed !important;
        left:0;
        top: 0;
        width: 100%;
    }

    header.navigation div.container {
        margin-left: 0rem;
    }

    header.navigation div.container nav.navbar {
        min-height: 1rem !important;
    }

    header.navigation div.container nav.navbar ul.navbar-nav {
        min-height: 1rem !important;
        margin-left: 0.5rem !important;
    }

    header.navigation div.container nav.navbar ul.navbar-nav li.small-item {
        visibility: visible !important;
        display: block !important;
        margin: 0.5rem;
    }
    
    header.navigation div.container nav.navbar ul.navbar-nav li.nav-item {
        visibility: hidden;
        display: none;
    }

    header.navigation div.container nav.navbar ul.navbar-nav li.nav-item a {
        visibility: hidden;
        display: none;
    }

    html:not(.theme--documenter-dark) body #documenter .docs-main {
        margin-top: 2rem !important;
    }
}

@media all and (max-width: 1055px) and (min-width: 561px){
    header.navigation {
        position: fixed !important;
        left:0;
        top: 0;
        width: 100%;
    }

    header.navigation div.container {
        margin-left: 0rem;
    }
    
    header.navigation div.container nav.navbar ul.navbar-nav {
        width: 80% !important;
    }
}

@media all and (min-width: 1056px) {
    header.navigation {
        position: fixed !important;
        left:0;
        top: 0;
        width: 100%;
    }

    header.navigation div.container {
        margin-left: 18rem;
    }

}

html.theme--documenter-dark header.navigation {
    background-color: #1f2424 !important;
}

html.theme--documenter-dark header.navigation div.container {
    border-bottom: 1px solid #5e6d6f;
}

html.theme--documenter-dark header.navigation div.container nav.navbar {
    background-color: #1f2424 !important;
}

html.theme--documenter-dark header.navigation div.container nav.navbar ul.navbar-nav li.nav-item a.nav-link {
    color: white;
    transition: color 100ms;
}

html.theme--documenter-dark header.navigation div.container nav.navbar ul.navbar-nav li.nav-item a.nav-link:hover {
    color: #0aa8a7
}

html header.navigation {
    background-color: white !important;
}

html header.navigation div.container {
    border-bottom: 1px solid #dbdbdb;
}

html header.navigation div.container nav.navbar ul.navbar-nav li.nav-item a.nav-link {
    color: #222;
    transition: color 100ms;
}

html header.navigation div.container nav.navbar ul.navbar-nav li.nav-item a.nav-link:hover {
    color: #0aa8a7
}

header.navigation {
    z-index: 3;
}

header.navigation div.container nav.navbar ul.navbar-nav {
    margin-left: 4rem;
    min-height: 3.25rem;
    width: 70%;
    display: flex;
    align-self: auto;
    flex-direction: row;
    justify-content: space-around;
}

header.navigation div.container nav.navbar ul.navbar-nav li.nav-item {
    align-self: stretch;
    align-content: space-around;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

header.navigation div.container nav.navbar ul.navbar-nav li.small-item {
    visibility: hidden;
    display: none;
}

.docs-logo {
    margin-bottom: 0.5rem;
}

/* Banner as part of navbar, displayed below nav items */
header.navigation div.container nav.navbar #site-banner {
    width: 100%;
    text-align: center;
    padding: 0.25rem 0.5rem;
    font-size: 0.85em;
    border-top: 1px solid #dbdbdb;
    margin-top: 0.5rem;
    order: 999; /* Ensure it appears after nav items */
    display: block; /* Ensure banner is visible */
    position: relative;
}

/* Hide banner when closed */
header.navigation div.container nav.navbar #site-banner.banner-closed {
    display: none !important;
}

/* Close button styling */
#site-banner-close {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 1.5em;
    line-height: 1;
    cursor: pointer;
    padding: 0 0.25rem;
    opacity: 0.6;
    transition: opacity 0.2s;
}

#site-banner-close:hover {
    opacity: 1;
}

/* Make navbar flex column to stack nav items (ul) and banner vertically */
header.navigation div.container nav.navbar {
    display: flex;
    flex-direction: column;
}

/* Hide search banner when closed */
#search-results-banner.banner-closed {
    display: none !important;
}

/* Search banner close button styling */
#search-banner-close {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 1.5em;
    line-height: 1;
    cursor: pointer;
    padding: 0 0.25rem;
    opacity: 0.6;
    transition: opacity 0.2s;
}

#search-banner-close:hover {
    opacity: 1;
}
