name: CI
on:
  push:
    branches:
      - main
    tags: '*'
  pull_request:
concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}
jobs:
  format: 
    name: Julia Formatter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1         
        with:
          version: '1.8'
      - run: make lint
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    needs: format
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.6'
          - '1.7'
          - '1.8'
          - 'nightly'
        os:
          - ubuntu-latest
        arch:
          - x64
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/cache@v1
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
        env:
          USE_DEV: "false"
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v2
        with:
          files: lcov.info
  examples:
    name: Examples
    runs-on: ubuntu-latest
    needs: format
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: '1.8'
      - uses: julia-actions/julia-buildpkg@v1
      - uses: actions/cache@v3
        id: examples
        with:
          path: |
            docs/src/examples
            docs/src/assets/examples
          key: ${{ github.sha }}
      - run: make examples
  docs:
    name: Documentation
    runs-on: ubuntu-latest
    needs: 
      - test
      - format
      - examples
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: '1.8'
      - uses: actions/cache@v3
        id: examples
        with:
          path: |
            docs/src/examples
            docs/src/assets/examples
          key: ${{ github.sha }}
      - uses: julia-actions/julia-buildpkg@v1
      - run: make docs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
